.wrapper {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/loginBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.wrapper::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
}
.formContainer {
  width: 100%;
  max-width: 574px;
  border-radius: 10px;
  border: none;
  background-color: var(--form-background-color);
  padding: 30px 40px;
  z-index: 1;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 26px;
}
.link {
  color: var(--violet-color);
}
.containerText{
  font-size: 16px;
  line-height: 24px;
  color: darkred;
  margin-top: 8px;
  font-weight: 500;
}
.notice{
  font-size: 16px;
  line-height: 24px;
  color:  var(--primary-text-color);
  font-weight: 500;
}

@media (max-width: 767px) {
  .formContainer {
    padding: 24px;
  }
  .title {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 32px;
  }
  .text {
    margin-top: 22px;
    font-size: 14px;
    line-height: 20px;
  }
}
