.optionsItem {
  width: 50%;
  border-radius: 10px 0 0 10px;
  background-color: var(--button-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-right: 1px;
  cursor: pointer;
}
.optionsItem .svg path {
  fill: var(--primary-text-color);
}