.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.cardBox {
  width: calc((100% - 120px) / 4);
  margin-right: 40px;
}
