.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}
.item{
  width: 100%;
}

.item:last-child label:last-child{
  margin-top: 24px;
}
.form {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--form-background-color);
    border: 2px solid var(--form-border-color);
    padding: 40px;
    z-index: 1;
    display: flex;
    gap: 40px;
    margin-bottom: 38px;
  }
.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
    display: block;
    width: 100%;
  }
  .input {
    display: block;
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    width: 100%;
    border: 2px solid var(--input-border-color);
    border-radius: 10px;
    margin-top: 8px;
  }
  .input::placeholder {
    color: var(--menu-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  @media (max-width: 767px) {
    .title{
        margin-bottom: 18px;
    }
    .form {
        display: block;
        gap: 0;
        padding: 24px;
        margin-bottom: 32px;
      }
      .label {
        margin-top: 20px;
      }
      .label:first-child {
        margin-top: 0;
      }
    }