
.wrapper {
  background-color: var(--background-color);
  padding: 162px 62px 64px 368px;
  min-height: 100vh;
  overflow-x: hidden;
}
.containerText{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:darkred;
  margin-top: 8px;
}
.buttons{
  display: flex;
}
.cancel, .save{
  max-width: 266px;
  width: 100%;
}
.cancel{
  background-color: #323537;
  margin: 0 0 0 auto;
}
.save{
  margin: 0 0 0 40px;
}
.cancel:hover{
  background: #323537 !important;
  color: #AFB2B6;
}


@media (max-width:1250px){
  .wrapper {
    padding: 162px 20px 64px 300px;
  }
}

@media (max-width:1130px){
  .wrapper {
    padding: 162px 20px 64px 240px;
  }
}
@media (max-width:1024px){
  .wrapper {
    padding: 144px 40px 56px 40px;
  }
}

@media (max-width:870px){
  .wrapper {
    padding: 216px 24px 48px 24px;
  }
}
