.wrapper {
  background-color: var(--background-color);
  padding: 162px 62px 64px 368px;
  min-height: 100vh;
  overflow-x: hidden;
}
.containerText{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:darkred;
  margin-top: 8px;
}