/* .input {
  background-color: var(--input-background-color);
  border-radius: 10px;
  padding: 14px 48px 14px 18px;
  color: var(--primary-text-color);
  width: 100%;
  border: 2px solid var(--input-border-color);
  margin-right: 41px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  order: 0;
} */

.input{
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--primary-text-color);
  outline: none;
  border: none;
  background-color: var(--input-background-color);
}
.inputBox{
  background-color: var(--input-background-color);
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--input-border-color);
  margin-right: 41px;
  order: 0;
  height: 52px;
  padding: 14px 48px 14px 18px;
  position: relative;
};
.input::placeholder {
  color: var(--menu-text-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.filterSvg{
  position: absolute;
  right: 22px;
  top:12px;
  cursor: pointer;
}

.filterPathColor{
  stroke: var(--primary-text-color)
}

@media (max-width:870px){
  .inputBox {
    position: absolute;
    top: 140px;
    width: 94%;
    left:50%;
    transform: translate(-50%);
  }
}

@media (max-width:767px){
  .inputBox {
    width: 92%;
  }
}
@media (max-width:574px){
  .inputBox {
    left:120px;
    right: 24px;
    width: 60%;
    transform:none;
  }
}